a{
    text-decoration: none;
    color: #000;
}
.Profile{
    background-color: #fafafa;
}
.container {
    width: 57%;
    margin: 0 auto;
}
.img_posted {
    display: flex;
}

.article a img {
    width: 100%;
    height: 100%;
}
.article {
    height: 305px;
    width: 31%;
    padding-right: 5px;
}

.info_user {
    display: flex;
    align-items: center;
}
.avatar {
    width: 30%;
    height: 252px;
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.avatar img  {
    border-radius: 50%;
    width: 135px;
    height: 135px;
}

.amount_post{
    font-weight: bold;
}
 
.post_detail{
    width: 50%;
}
.post_detail img {
    width: 100%;
    height: 100%;
}

.author img, .user_nameAvatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
.author, .user_nameAvatar a, .wrapper_comment {
    display: flex;
    align-items: center;
}
.author_name, .user_name {
    font-weight: bold;
    margin-right: 6px;
    white-space: nowrap;
}
.user_nameAvatar{
    margin-right: 7px;
}
.user_like, .user_other_like{
    font-weight: bold;
} 
.post_detail {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: 2;
}
.info_detail {
    flex-basis: 800px;
    background: #fff;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
}
.Img_posted {
    flex-basis: 70%;
}
.info_detail {
    flex-basis: 50%;
    background: #fff;
    padding: 15px 20px;
}
.a_overlay{
    cursor: auto;
}

img.close_post {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
}
a.a_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper_img_posted {
    height: 300px;
}

span.like_by {
    pointer-events: none;
    font-weight: 100;
    font-size: 14px;
    margin-right: 5px;
}
.user_nameAvatar a .avatar_like{
    width: 25px;
    height: 25px;
}

.likes {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.user_like .user_nameAvatar {
    margin-right: -2px;
}.other_likes span:first-child {
    margin-right: 4px;
}
span.user_other_like {
    cursor: pointer;
}