
body {
  background:#fafafa;
}

.wrapper_content {
 text-align: center;
  padding-top: 30px;
}
.phone_slide {
  flex-basis: 50%;
  margin: 0 auto;
  position: relative;
  height: 617px;
  display: inline-block;
}
 
.phone_slide img {
  width: 100%;
  height: 100%;
}
.slide_img img{
  width: 100%;
    transition: 1s all;
    position: absolute;
  }
.beside-phone-slide img{
  transition: 2s all;
}
img.hide {
    opacity: 0;
    visibility: hidden;
  }
img.show {
  opacity: 1;
  visibility: visible;
}
.img-slide{
  position: absolute;
}
.img1{
  z-index: 1;
}
.img2{
  z-index: 2;
}
.img3{
  z-index: 3;
}
.img4{
  z-index: 4;
}
.img5{
  z-index: 5;
}
.beside-phone-slide {
  width: 240.1px;
  position: absolute;
  top: 98.4px;
  left: 30.5px;
  height: 428px;
}
/* width: 60%; */
.wrapper_login {
  margin-top: 33px;
  position: relative;
  margin-left: -14px;
  display: inline-block;
  flex-basis: 50%;
}
.login {
  border: 1px solid #ddd;
  width: 347px;
  background-color: #fff;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

.content-login {
  width: 80%;
  margin: 0 auto;
}
.content-login {
  width: 77%;
  margin: 0 auto;
  margin-top: -10px;
}
h1 img {
  width: 75%;
}
button.btn-login {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  background: #b2dffc;
  font-weight: bold;
  color: #fff;
}
button.btn-login:focus{
  outline: none;
}
.line span {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 0 16px;
  font-size: 13px;
  color: #8e8e8e;
}
.line-through {
  border-top: 1px solid #bdbdbd;
  position: relative;
  top: 11px;
  z-index: 0;
}
.line {
  text-align: center;
  margin-top: 13px;
}button.btn-login-fb {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 0;
  color: #385185;
  background: 0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 22px;
}
.login-fb {
  text-align: center;
}
button.btn-login-fb:focus{
  outline: none;
}
.logo-fb{
  width: 16px;
  height: 16px;
  background: url(../image/facebook.svg) no-repeat center / contain;
}
 
.logo-fb {
  margin-right: 10px;
}
.forgot-password{
  text-align: center;
  margin-top: 10px;
}
button.forgot-pass {
  border: 0;
  background: 0;
  font-size: 11px;
  cursor: pointer;
  color: #385185 ;
}
button.forgot-pass:focus {
  outline: none;
}
.signined {
  padding-top: 65px;
}